/* Включение отступа и границы в общую ширину и высоту элемента 
* {
    box-sizing: 60 px;
  }
  
  /* Удалите поля и отступы из списка 
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Стиль элементов списка 
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 11 px;
    transition: 0.2s;
  
    /* сделайте элементы списка невыбираемыми 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Установить все нечетные элементы списка в другой цвет (зебра) 
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Более темный фон-цвет при наведении 
  ul li:hover {
    background: #ddd;
  }
  
  /* При нажатии на кнопку, добавить цвет фона и вычеркнуть текст 
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Добавить "checked" отметить при нажатии на кнопку 
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Стиль кнопки "Закрыть" 
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Стиль заголовка 
  .header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  /* Очистить поплавки после заголовка 
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Стиль ввода 
  input {
    margin: 0;
    border: 6 px;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Стиль кнопки "Добавить" 
  .button {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }*/
  
  .text{
  color: silver;
  };
  .assaignment{
    color: rgb(206, 11, 76);
  }
  .uicheckbox{
    color: rgb(206, 11, 76) ;
  }
